.AccordionContent[data-state='open'] {
    animation: accordion-down 200ms ease-out;
    overflow: hidden; 
font-size: 0.875rem;
line-height: 1.25rem; 
transition-property: all;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 300ms; 
  }
  .AccordionContent[data-state='closed'] {
    animation: accordion-up 200ms ease-out;
    overflow: hidden; 
font-size: 0.875rem;
line-height: 1.25rem; 
transition-property: all;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 300ms; 
    
  }